* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}
.project-list-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.left {
    background-color: lightblue; /* optional for visualization */
}
.right {
    background-color: lightgreen; /* optional for visualization */
}
.workspace-toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #bfe169;
    color: black;
    padding: 10px;
    text-align: center;
  }
